*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body{
    background-color: wheat;
}

p{
    color: #A52A2A;
    line-height: 30px;
}

h1,h3, p{
    text-align:center;
}

h1{
    color: red;
    /* text-decoration: underline; */
}


h3{
    color: black;
}

a{
    color: green;
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: #000;
}