*{
    /* universal selector */
    font-family: 'Courier New', Courier New;
    
}

/*2. Element selector:- Select all element of the same type  */
/* h1{
    color: purple;
}
 h3{
    color: red;
 } */

 /* 3. ID Selector:- Select an element based on the value of the element's id attribute */

 /* #login{
    color: red;    
    background-color: white;
 }

 #signup{
    background-color: red;
    color: white;
 } */

 /* 4. Class Selector:- Select an element based on their class attribute */

 .upvote{
    background-color: green;
    color: white;
 }

 p a{
    color: purple;
    background-color: yellow;
 }

 /* <!-- 5. Descendant Selector:- Selects all paragraphs inside divs --> */

 nav ul li a{
   color: purple;

   background-color: bisque;
 }

 nav ul li{
   color: pink;
 }

/* 6.Adjacent Sibling Combinator:- Heading3 that comes immediately after any paragraph */
 
/* example:- 

   p+h3{
   property: value;
   }
*/

p + h3{
   text-decoration: underline red;
}

.upvote + button{
   background-color: cornflowerblue;
   color: white;
}

div > input{
   background-color: darkgray;
}

/* 8. Attribute Selector:- Select elements based on the presence or value of a given attribute. */

/* ex  */

input[type="text"]{
   color: red;
}
input[type="password"]{
   color: green;

}

input[type]{
   background-color: ghostwhite;
}

button:hover{
   background-color: black;
   color: white;
}

button:active{
   background-color: hotpink;
   color: black;
}

p:active{
   font-weight: bold;
   color: green;

}

input[type="radio"]:checked + label{
   color: red;
   font-weight: bold;
}

.post:nth-of-type(2){
   background-color: bisque;
}

h1::first-letter{
   color: red;
}

p::selection {
   background-color: rgb(255, 0, 30);
}